@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto {
  font-family: "Roboto", sans-serif;
}


*::-webkit-scrollbar {
  display: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #5046C7 !important;
} */
.tab-label {
  color: #242565;
  transition: color 0.2s;
}
.ant-tabs-tab-active .tab-label {
  color: #5046C7 !important;
}
.ant-tabs-ink-bar {
  background: #5046C7 !important;
}